/* CSS Document */


body{
	width: 1920px;
	margin: auto;

}
section{
	margin: 50px 50px;
}



article {
	width: auto;
    margin: 25px;
    display: block;
    unicode-bidi: isolate;
}

div{
	margin: auto;
}
hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #000000;
   
}

ul{
	font-family:"Inter", "sans-serif";
	line-height: 10px;

}
h2{
	font-size: 36px;
}

h1{
	font-size: 48px;
}
	
.padding{
	padding: 10px 130px 20px 100px;
}

.personalogo{
	margin: 10px 0px 130px 0px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}
.color-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;  

}
.color-space{
	margin: 25px;
}
.primary-font{
	font-family:"Inter", "bold", "sans-serif";
	text-align: left;
	font-weight: 800;
}

.secondary-font{
	font-family:"Inter", "sans-serif";
	font-weight: 300;
	text-align: left;
} 
.abc-Pfont{
	font-family:"Inter", "sans-serif";
	font-weight: 800;
	font-size: 60px;
	text-align: left;
	
}

.abc-Sfont{
	font-family:"Inter", "sans-serif";
	font-size: 60px;
	text-align: left;
	font-weight: 300;
}
